html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.button {

    background-color: #314dec;
    border: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex ;
    font-size: 16px;
    margin: 3px 1px;
    position: relative; left:1150px; top: -300px;
}
.but1{
    border-radius: 6px;
}
.buttonA{
    background-color: #edf2fe;
    border: 10px;
    color: #2A5BD7;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-flex ;
    font-size: 16px;
    margin: 3px 1px;
    position: relative; left: 580px; top: -750px; 
}
.but2{
    border-radius: 6px;
}
.ab{
    position: relative; left: 820px; top: -300px;
    width: 550px;
    height: 400px;
}
.first_h1{
    position: relative; left: 85px; top: -700px;
    font-size: 70px;
    font-family:sans-serif;
}
.h3{
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
    position: relative; left: 90px; top: -740px;
}
.h32{
    font-family: 'Times New Roman', Times, serif;
    color: dimgray;
    position: relative; left: 90px; top: -750px;
}
.bg1{
    background-color: #314dec;
}
.sw{
    position: relative; top: -500px; right: -95px;
    
}
.sq{
    background-color: #314dec;
    border: 5px;
    color: white;
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex ;
    font-size: 20px;
    margin: 3px 1px;
    position: relative; left:20px; top: 2px;
}
.se{
    border-radius: 6px;
}
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
}
.button1{
    background-color: #314dec;
    border: 10px;
    color: white;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-flex ;
    font-size: 18px;
    margin: 3px 1px;
    position: relative; left:90px; top: -950px;
}
.but3{
    border-radius: 6px;
}
.me1{
    position: relative; left: 600px; top: -600px;
}
.b1{
    position: relative; left: 300px; top: -550px;
    font-size: 35px;
    letter-spacing: 2px;
}
.img1{
    position:relative; left: 150px; top: -480px ;
}
.img2{
    position: relative; left: 210px; top: -480px;
}
.img3{
    position: relative; left: 270px; top: -480px;
}
.h31{
    position: relative; left: 150px; top: -470px;
}
.h3a{
    position: relative; left: 550px; top: -513px;
}
.h33{
    position: relative; left: 950px; top: -552.5px;
}
.ins{
    position: relative; left: 150px; top: -560px;

}
.boo{
    position: relative; left: 550px; top: -665px;
}
.gai{
    position: relative; left: 950px; top: -775px;
}
.ff{
    position: relative; left:460px; top: -700px;
    text-decoration: none;
    color: #456CDB;
    
}
.ff:hover{
    color: #131b46;
}